#tabla01{
    background-color: #4f43d9;
    height: 120pt;
    width: 100%;
    }
body{
    background-image: url(kep01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
}
#gombok{
    height: 50px;
}
